/*
 *
 * Media Queries
 *
 */

@media screen and (max-width: 759px) {
  .header__title {
    font-size: 3em;
  }
  .header__logo {
    height: 48px;
  }
}

@media screen and (min-width: 630px) {
  .hero { order: 1; width: 50%;}
  .top-news { order: 2; width: 50%; }
  .weather { order: 3; width: 33.33%; }
  .scores { order: 4; width: 66.66%; }
  .recent-news { order: 5;}
}

@media screen and (min-width: 830px) {
  body { max-width: 830px; margin: 0 auto; }
  .hero { order: 1; width: 50%;}
  .top-news { order: 2; width: 50%; }
  .weather { order: 3; width: 33.33%; }
  .scores { order: 4; width: 66.66%; }
  .recent-news { order: 5;}
}
